*{
     margin: 0;
     padding: 0;
     
}
body{
     background-color: #0E1014;
     color: #f5f5f5;
}
.h1_main_hero{
     color:#9747FF;
}
/*ctrl d, primeiro vc seleciona ex classe: h1_hero e se tiver outro elemento com essa classe e vc precisonar ctrl d ele vai selecionar todos e vc pode alterar alguma coisa*/
a{
     text-decoration: none;
     display: block;
     color: #f5f5f5;

}